form .formSection {
    z-index: 1;
    position: relative;
    display: block;
    width: 60%;
    margin: 10px auto;
    padding: 20px;
    background: #fff;
    border: 1px solid #06C;
    border-radius: 5px;
    font-size: 15pt;
}

.inputContainer {
    position: relative;
    display: inline-block;
    padding: 10px 0;
}

.inputContainer input {
    border: none;
    border-bottom: 3px solid #ddd;
    font-family: "Roboto","Mont",Arial;
    font-size: inherit;
}

.inputContainer .animatedPlaceholder {
    pointer-events: none;
    position: absolute;
    top: -5px;
    left: -15px;
    transform: scale(0.6);
    color: #aaa;
    transition: .3s ease;
}

.inputContainer .animatedBottomLine {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    height: 4px;
    background: linear-gradient(to right, #06C,#639);
    transition: .3s ease;
}

.inputContainer input:placeholder-shown ~ .animatedBottomLine {width: 0;}
.inputContainer input:placeholder-shown ~ .animatedPlaceholder {
    opacity: 1;
    top: 10px;
    left: 0;
    transform: none;
}